@font-face {
	font-family: "Source Sans Pro";
	src: url("/Fonts/SourceSans.ttf") format("truetype");
}

* {
	font-family: "Source Sans Pro";
	font-size: 16px;

	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	width: 100%;
	min-height: 100vh;
	background-color: black;
}
